@import "../mixins/mixins";

@mixin truncate($lines: 1, $font-size: 1rem, $line-height: 1.3) {
  $display: block;
  $white-space: nowrap;

  @if $lines > 1 {
    $display: -webkit-box;
    $white-space: normal;
  }

  display: $display;
  max-width: 100%;
  max-height: #{$font-size * $line-height * $lines}rem;
  font-size: #{$font-size}rem;
  line-height: $line-height;
  white-space: $white-space;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

$opacity-transition: opacity 1s;
$music-header-colour: #d26cb5;
$movies-header-colour: #35ab7c;
$comics-header-colour: #caba1d;
$games-header-colour: #d44d51;

.category {
  &__header_comics,
  &__header_music,
  &__header_games,
  &__header_movies {
    font-size: 40px;
    margin-bottom: 8px;
    margin: 0 auto;
  }

  &__header_comics {
    color: $comics-header-colour;
  }

  &__header_music {
    color: $music-header-colour;
  }

  &__header_games {
    color: $games-header-colour;
  }

  &__header_movies {
    color: $movies-header-colour;
  }

  &__itemsContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
  }

  &__item {
    padding: 0 10px;
    background-color: #a39200;
  }

  &__imageContainer {
    position: relative;

    height: 52vh;
  }

  &__footer {
    margin-bottom: 8px;
    margin-top: 8px;

    padding: 0 10px;
  }
  &__title {
    @include truncate(1, 1.5, 1.2);
    color: #ffffff;
    margin: 0 5px;
  }

  &__comicsColour {
    color: settings-colour("comics");
  }

  &__musicColour {
    color: settings-colour("music");
  }

  &__gamesColour {
    color: settings-colour("games");
  }

  &__moviesColour {
    color: settings-colour("movies");
  }
}
