@import "../utilities/utils";
@import "../mixins/mixins";
@import "../settings";

$comics-colour: settings-colour("comics");
$music-colour: settings-colour("music");
$games-colour: settings-colour("games");
$movies-colour: settings-colour("movies");
$movies-colour-darker: #275643;
$primary-colour: settings-colour("text-primary");
$white: settings-colour("text-white");
$btn-z-index: 2;
$details-main-z-index: 1;
$details-bg-image-z-index: 0;
$details-width: 650px;

.details {
  &_container {
    margin: 20px auto 0;
    max-width: $details-width;

    :global {
      .btn {
        position: relative;
        z-index: $btn-z-index;
      }
    }
  }

  &_container_music {
    .details_link {
      text-decoration: underline;

      &:hover {
        color: $primary-colour;
      }
    }
  }

  &_container_movies {
    :global {
      .btn {
        &:hover {
          border-color: $movies-colour;
          color: $movies-colour;
        }
      }
    }
  }

  &_container_comics {
    :global {
      .btn {
        &:hover {
          border-color: $comics-colour;
          color: $comics-colour;
        }
      }
    }
  }

  &_container_games {
    :global {
      .btn {
        &:hover {
          border-color: $games-colour;
          color: $games-colour;
        }
      }
    }
  }

  &_container_music {
    :global {
      .btn {
        &:hover {
          border-color: $music-colour;
          color: $music-colour;
        }
      }
    }
  }

  &_title {
    padding-left: 0;
  }

  &_btn_container {
    margin-bottom: 20px;
  }

  &_music,
  &_movies,
  &_comics,
  &_games {
    border: $primary-colour 1px solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    margin: 0 auto;
    max-width: $details-width;
    padding: 25px;
    position: relative;
    z-index: $details-main-z-index;

    grid-template-areas:
      "title"
      "details_image"
      "details_info";

    .details_title {
      grid-area: title;
    }

    .details_image {
      grid-area: details_image;
    }

    .details_info {
      grid-area: details_info;
    }

    @include is-medium {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "title title"
        "details_info details_image";

      .details_image {
        grid-area: details_image;
      }

      .details_info {
        grid-area: details_info;
      }
    }
  }

  &_info {
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }

  &_image {
    width: 100%;
    & > img {
      width: 100%;
      height: auto;
    }
  }

  &_btn_movies_info {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &_btn_top {
    margin: 0 auto;
    max-width: 300px;
    padding-left: 28px;

    @include is-medium {
      margin: 0 auto;
      max-width: 740px;
      padding-left: 0;
    }
  }

  &_sub_heading_music {
    color: $music-colour;

    &:hover {
      color: $white;
    }
  }

  &_ul_comics,
  &_ol_music,
  &_ul_movies {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;

    @include is-medium {
      padding: 10px;
    }
  }

  &_ul_comics,
  &_ul_movies {
    padding-left: 0;
  }

  &_ul_movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 3px 7px;

    &_li {
      background-color: $movies-colour-darker;
      color: $white;
      padding-left: 6px;
    }
  }

  &_ol_music {
    list-style: decimal;
    padding-left: 18px;

    &_li {
      color: $music-colour;
    }

    &_li_alt {
      color: $primary-colour;
    }
  }

  &_list_heading {
    font-size: 17px;
  }

  &_copy {
    margin: 10px 0 0;

    &_top_0 {
      margin-top: 0;
    }

    &_last {
      margin-bottom: 15px;
    }
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: $details-bg-image-z-index;
  background-size: cover;
  opacity: 0.06;
  filter: blur(15px);
}

.details_music {
  .btn {
    &:hover {
      border-color: $music-colour;
      color: $music-colour;
    }
  }
}
