@import "../mixins/mixins";

$bg-colour: #232323;

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  margin: 0 auto;
  position: relative;
  z-index: 100;

  @include is-medium {
    grid-template-columns: 55% 1fr;
  }

  @include is-large {
    grid-template-columns: 75% 1fr;
  }

  &__logo {
    &_image {
      display: block;
      height: auto;
      margin: 0 auto;
      width: 70%;

      @include is-medium {
        margin: 10px 0 10px 15px;
        width: 60%;
      }

      @include is-large {
        width: 24%;
      }
    }
  }

  &__nav {
    margin-top: 20px;
    padding: 0;

    &_ul {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      list-style: none;
      margin: 0 auto;
      padding: 0;
    }

    &_item > a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &_item_img {
      height: auto;
      width: 40px;
    }
  }
}
