@import "../mixins/mixins";

$bg-colour: #232323;

.header {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);

  @include is-medium {
    grid-template-columns: 55% 1fr;
  }

  @include is-large {
    grid-template-columns: 75% 1fr;
  }

  &__logo {
    &_image {
      margin: 0 auto;
      width: 70%;
      height: auto;
      display: block;

      @include is-medium {
        margin: 10px 0 10px 15px;
        width: 60%;
      }

      @include is-large {
        width: 30%;
      }
    }
  }

  &__nav {
    margin-top: 20px;
    padding: 0;

    &_ul {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      justify-items: center;
      list-style: none;
      margin: 0 auto;
    }

    &_item > a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    &_item_img {
      height: auto;
      width: 40px;
    }
  }
}
