@import "../mixins/mixins";

@import "../base/animation";

.loaderContainer {
  height: 100%;
  width: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
}
.loader {
  background: no-repeat center/80% url("/images/loading.png");
  width: 140px;
  height: 140px;
  animation: spin 0.7s linear infinite;

  @include animation-keyframe(spin, transform, rotate(0deg), rotate(360deg));
}
