/*
Animation
*/

@mixin animation-keyframe($name, $property, $from, $to) {
  @keyframes #{$name} {
    from {
      #{$property}: $from;
    }

    to {
      #{$property}: $to;
    }
  }
}

//Utilities */

.anim-fade-in,
%a-fade-in {
  animation: fadeIn 0.3s;

  @include animation-keyframe(fadeIn, opacity, 0, 1);
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
