@use "../mixins/mixins" as *;
@use "../settings" as *;
@use "../utilities/utils" as *;

$base-bg-colour: settings-colour("bg-colour-primary") !default;

html {
  -webkit-font-smoothing: antialiased;
  background-color: $base-bg-colour;
  font-size: (14px / 16px) * 100%;
}

.main {
  background-color: $base-bg-colour;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 100%;

  @include is-medium {
    margin: 0 auto;
  }
}
body {
  color: settings-colour("text-white");
  margin: 0;
  padding: 0;
}
